body{
    font-family: 'Crimson Text', serif;
}

.height{
    min-height: 100vh;
}
.title-underline{
    width: 200px;
    height: 5px;
    margin: 0 auto;
}

.height-80{
    min-height: 80vh;
}

.about-picture{
    background: url(../img/bg-about.jpg)center/cover no-repeat fixed;
    
    /*
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    */
}

#filler, #progress{
    background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.9)), url(../img/bg-co.jpg)center/cover no-repeat fixed;
}